# Flutter / Dart
.dart_tool/
.packages
.pub-cache/
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
*.iml
.idea/
.vscode/

# Android
android/.gradle/
android/local.properties
android/app/debug/
android/app/profile/
android/app/release/
android/key.properties
*.jks
*.keystore

# iOS / macOS
ios/Pods/
macos/Pods/
*.xcworkspace

# Windows / Linux
windows/flutter/ephemeral/
linux/flutter/ephemeral/

# Arquivos temporários
*.log
*.tmp
.DS_Store
